body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 20px;
  flex: 1 1 calc(33% - 40px);
  min-width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin-top: 0;
}

.control {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.control-card {
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.control-card h3 {
  margin-top: 0;
}

.switches {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.slider {
  width: 60px;
  height: 30px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.slider::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-30px);
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked + .slider {
  background-color: #66bb6a;
}

.checkbox:checked + .slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:active + .slider::before {
  transform: translate(0);
}

.slider-container {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  flex: 2;
}

.slider-container h3 {
  margin-top: 0;
  text-align: center;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.slider-container select {
  padding: 5px;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
}

.slider-container input[type="range"] {
  flex-grow: 1;
  margin: 0 10px;
  accent-color: #ff8c00;
}

.water-level {
  padding: 20px;
}

.water-level-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.progress-bar:hover .tooltip {
  visibility: visible !important;
  opacity: 1 !important;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1000;
  top: -125%; /* top으로 위치 변경 */
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* 아래쪽에 화살표 */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.progress-bar {
  width: 60%;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
  margin: 0 10px;
  position: relative; /* 툴팁 위치를 기준으로 삼기 위해 상대 위치 사용 */
}

.progress-fill {
  height: 100%;
  background-color: #00c49f;
  transition: width 0.5s ease-in-out;
  border-radius: 10px;
}

.water-level-item span {
  width: 20%; /* 왼쪽과 오른쪽 텍스트의 너비를 일정하게 유지 */
  text-align: left; /* 왼쪽 텍스트 정렬 */
}

.water-level-item span:last-child {
  text-align: right; /* 오른쪽 텍스트 정렬 */
  width: auto;
  white-space: nowrap;
  margin-left: 10px;
}
